Package             Version
------------------- --------
asgiref             3.6.0
defusedxml          0.7.1
diploma-frontend    0.1
Django              4.1.7
django-js-asset     2.0.0
django-mptt         0.14.0
django-taggit       3.1.0
djangorestframework 3.14.0
Jinja2              3.1.2
MarkupSafe          2.1.2
Pillow              9.4.0
pip                 23.0.1
pytz                2022.7.1
setuptools          65.5.0
sqlparse            0.4.3
tzdata              2022.7
